extends layout

block content

  .container
    .jumbotron
      h1 Translate your book
      form(method="POST" action="/upload" enctype="multipart/form-data" id="form")
        .form-group
          input.form-control(type="file" name="file" id="file" style="display: none")
          label(for="file").btn.btn-lg.btn-success Upload your book
        p
          small *.fb2 only

  script(src='/javascripts/main.js')